@page "/"
<div class="page-wrapper">
<div class="menu">
    <ul>
            <li><NavLink href="/">Bismarck</NavLink></li>
            <li><NavLink href="/Yamato">Yamato</NavLink></li>
            <li><NavLink href="/George">King Gorge V</NavLink></li>
    </ul>
</div>

<div class="container">
    <div class="content">
        <div class="right border">
            <div class="tytuł">Bismarck</div>
            <div>
                <img src="pliki/Bismarck.jpg" alt="Bismarck" class="image" />
            </div>
            <br>
            <div>
                <p>
                    Niemiecki pancernik typu Bismarck z okresu II wojny światowej, bliźniaczy okręt Tirpitza.
                    Oba te pancerniki były największymi jednostkami Kriegsmarine w historii i największymi europejskimi okrętami
                    bojowymi.
                    Zatopiony 27 maja 1941, dziewiątego dnia swego pierwszego rejsu bojowego.
                </p>
            </div>

            <br>

            <div>
                <p>
                    Budowę okrętu rozpoczęto 1 lipca 1936 w stoczni Blohm und Voss w Hamburgu, jako budowę nr 509.
                    Okręt zwodowano 14 lutego 1939. Pancernik Bismarck wszedł do służby w Kriegsmarine 24 sierpnia 1940.
                    Jego dowódcą został komandor Ernst Lindemann. 28 września 1940 Bismarck wyszedł w swój pierwszy rejs do
                    Gotenhafen
                    (okupacyjna nazwa Gdyni), która miała być jego głównym portem postojowym. Okręt został przeznaczony wraz z
                    Scharnhorstem,
                    Gneisenau, Prinz Eugenem i Tirpitzem do działań krążowniczych przeciwko konwojom zaopatrzeniowym.
                    Zasadniczo ciężkie okręty niemieckie miały zakaz podejmowania walki z równoważnym przeciwnikiem w postaci
                    pancerników i krążowników Royal Navy.
                </p>
            </div>

            <div class="drobnym_drukiem">Źródło pl.wikipedia.org</div>

        </div>


        <div class="left border">

            <div class="tytuł">Informacje Podstawowe</div>
            <table>
                <tr>
                    <td>Klasa</td>
                    <td>Pancernik</td>
                </tr>
                <tr>
                    <td>Typ</td>
                    <td>Bismarck</td>
                </tr>
                <tr>
                    <td>Wodowanie</td>
                    <td>14.02.1940</td>
                </tr>
                <tr>
                    <td>Zatopiony</td>
                    <td>27.05.1941</td>
                </tr>
                <tr>
                    <td>Długość</td>
                    <td>250,50m</td>
                </tr>
                <tr>
                    <td>Szerokość</td>
                    <td>36m</td>
                </tr>
                <tr>
                    <td>Wyporność</td>
                    <td>45 451t</td>
                </tr>
            </table>
        </div>

    </div>
</div>
</div>
