@page "/George"
<div class="page-wrapper">
<div class="menu">
        <ul>
            <li><NavLink href="/">Bismarck</NavLink></li>
            <li><NavLink href="/Yamato">Yamato</NavLink></li>
            <li><NavLink href="/George">King Gorge V</NavLink></li>
    </ul>
</div>

<div class="container">
    <div class="content">
        <div class="right border">
            <div class="tytuł">King George V</div>
            <div>
                <img src="pliki/King_George_V.jpg" alt="Bismarck" class="image" />
            </div>
            <br>
            <div>
                <p>
                    Należące do Royal Navy pancerniki z okresu drugiej wojny światowej. Zbudowano pięć okrętów tego typu, z
                    których jeden zatopiono podczas działań wojennych. W skrócie określane jako typ KGV (ang. KGV class).
                </p>
            </div>

            <br>

            <div>
                <p>
                    W 1922 roku po wejściu w życie traktatu waszyngtońskiego Wielka Brytania została zobowiązana do
                    znacznego ograniczenia zbrojeń morskich. Zgodnie z postanowieniami traktatu Royal Navy otrzymała w 1927 i 1930 roku
                    dwa pancerniki typu Nelson. Traktat przestawał obowiązywać w 1936 roku i w związku z coraz bardziej napiętą sytuacją
                    międzynarodową przewidywano, że nie zostanie przedłużony. Przewidując taki rozwój wypadków, w Wielkiej Brytanii opracowano
                    projekt nowych pancerników, które mogłyby wejść do produkcji natychmiast po wygaśnięciu traktatów rozbrojeniowych.
                    Nowe okręty miały mieć artylerię główną składającą się z dział kalibru 356 milimetrów i niespotykane na okrętach tej wielkości
                    silne opancerzenie.
                </p>
            </div>

            <br>

            <div>
                <p>
                    Początkowo główny okręt miał otrzymać nazwę: King George VI, zgodnie z tradycją nazywania pierwszego
                    pancernika zbudowanego po objęciu tronu przez nowego monarchę jego imieniem, lecz król Jerzy VI wyraził życzenie,
                    aby nazwać pancernik imieniem jego ojca Jerzego V. Pozostałe okręty miały nosić nazwy: Prince of Wales (książę Walii),
                    Anson, Jellicoe i Beatty, ale z uwagi na decyzję króla, przemianowano Anson na Duke of York (książę Yorku), od jego
                    tytułu przed objęciem tronu, a z kolei nazwy od nazwisk admirałów z I wojny światowej Jellicoe i Beatty′ego uznano za kontrowersyjne.
                    W konsekwencji, nazwę Anson (od admirała Ansona) przeniesiono w lutym 1940 roku na budowany Jellicoe, a Beatty otrzymał nazwę Howe,
                    od admirała Howe.
                </p>
            </div>

            <br>

            <div>
                <p>
                    Budowa pierwszego okrętu serii, który nazwano HMS King George V, rozpoczęła się 1 stycznia 1937 roku w stoczni
                    Vickers-Armstrong. Wodowanie okrętu nastąpiło 21 lutego 1939 roku, a wejście do służby – 11 grudnia 1940 roku.
                    Podczas drugiej wojny światowej okręty typu wykorzystywano głównie do ochrony szlaków żeglugowych przed atakami dużych
                    niemieckich okrętów nawodnych. Okręty typu działały także w rejonie Pacyfiku, gdzie jeden z nich, HMS Prince of Wales,
                    zatonął w starciu z japońskim lotnictwem. Po wojnie pozostałe okręty wycofano ze służby i złomowano do 1958 roku.
                </p>
            </div>

            <div class="drobnym_drukiem">Źródło pl.wikipedia.org</div>

        </div>


        <div class="left border">

            <div class="tytuł">Informacje Podstawowe</div>
            <table>
                <tr>
                    <td>Klasa</td>
                    <td>Pancernik</td>
                </tr>
                <tr>
                    <td>Typ</td>
                    <td>King George V</td>
                </tr>
                <tr>
                    <td>Wodowanie</td>
                    <td>21.02.1939</td>
                </tr>
                <tr>
                    <td>Zezłomowany</td>
                    <td>1958</td>
                </tr>
                <tr>
                    <td>Długość</td>
                    <td>227.2m</td>
                </tr>
                <tr>
                    <td>Szerokość</td>
                    <td>31.4m</td>
                </tr>
                <tr>
                    <td>Wyporność</td>
                    <td>38 600t</td>
                </tr>
            </table>
        </div>

    </div>
</div>
</div>
