  <footer>
    <div class="container">
      <div class="footer__content">
        <div class="footer__left">
          <div class="footer__title">
            <img src="pliki/kotwica.png" alt="Logo" class="header__logo" />
            <div class="header__title">Pancerniki II WŚ</div>
          </div>
          <div class="footer__text">
            Szablon strony internetowej zrealizowanej na potrzeby zajęć z
            przedmiotu &quot;Wybrane Środowiska Programowania&quot; w ramach
            studiów na kierunku Informatyka w Społecznej Akdemii Nauk w
            Łodzi.Szablon prezentuje podstawowe zagadnienia z zakresu HTML
            oraz CSS.
          </div>
        </div>
        <div class="footer__right">
          <div style="font-weight: 400">Stack technologiczny:</div>
          <div class="footer__text">
            Wykorzystane języki programowania: HTML + CSS
          </div>
        </div>
      </div>
      </div>
  </footer>